<mat-sidenav-container>
  <mat-sidenav #sidenav
               [mode]="sidenavMode"
               [opened]="!isSmallScreen"
               [fixedInViewport]="true">
    <mat-toolbar color="primary">Egghead Material</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let item of navigationSideMenu"
         (click)="sidenav.close()"
         [routerLink]="[item.link]"
         routerLinkActive="active"
         mat-list-item>
        {{item.label}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="wrapper">
      <div class="toolbar mat-elevation-z6">
        <mat-toolbar color="primary">
          <button mat-icon-button
                  class="d-md-none"
                  (click)="sidenav.open()"
                  aria-label="Side navigation menu">
            <mat-icon>menu</mat-icon>
          </button>
        </mat-toolbar>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<button *ngIf="isSmallScreen"
        class="sidenav-toggle"
        mat-mini-fab
        color="primary"
        [@growInOut]
        (click)="sidenav.toggle()">
  <mat-icon>view_list</mat-icon>
</button>