<div class="static-header">
  <h2>Scroll to load more images</h2>
  <p>
    Total images displayed:
    <strong>{{ totalImagesShown }}</strong>
  </p>
  <small>Picture courtesy: <a href="https://unsplash.com/">Unsplash</a></small>
</div>
<div class="images">
  <div
    class="image-container"
    *ngFor="let image of imageItemCollection"
    (appDeferLoad)="image.show = true"
  >
    <ng-container *ngIf="image.show">
      <img name="beautiful-image" src="{{ image.url }}" />
    </ng-container>
  </div>
</div>