<div class="app">
  <div class="app__header">
    <img src="/assets/img/logo.svg" class="app__logo">
  </div>
  <div class="app__content">
    <div class="app__nav">
      <a routerLink="products" routerLinkActive="active">Products</a>
      <!-- <a routerLink="products/3" routerLinkActive="active">Existent Pizza</a>
      <a routerLink="products/666" routerLinkActive="active">Non-existent Pizza</a> -->
      <a routerLink="drinks" routerLinkActive="active">Drinks</a>
      <a routerLink="nrwl" routerLinkActive="active">Nrwl</a>
    </div>
    <div class="app__container">
      <router-outlet></router-outlet>
    </div>
    <div class="app__footer">
      <p>&copy; Ultimate Pizza Inc.</p>
    </div>
  </div>
</div>