<div class="container lesson-content">
  <h1>Angular Material Egghead.io Lessons</h1>
  <p>This project is being used to test out ideas seen on https://egghead.io/courses/structure-angular-apps-with-angular-material-components</p>
  <p>It's structured so that each route is kind of like a separate app but there are some things shared between them all.</p>
  <!-- <div class="actions">
    <a mat-raised-button color="accent" routerLink="../examples/sidenav"
        [ngClass]="animateOnRouteEnter">
      Sidenav Example
    </a>
    <span [ngClass]="animateOnRouteEnter">or</span>
  </div> -->
</div>

