<mat-toolbar color="primary">
  <span>Icons</span>
</mat-toolbar>

<div class="lesson-content">
  <h1>Basic Icons</h1>
  <mat-icon>check_circle</mat-icon>
  <mat-icon>list</mat-icon>
  <mat-icon>close</mat-icon>

  <h1>Custom Icons</h1>
  <mat-icon svgIcon="fa-angular"></mat-icon>

  <h1>Icon Color</h1>
  <mat-icon color="primary">check_circle</mat-icon>
  <mat-icon color="accent">list</mat-icon>
  <mat-icon color="warn">close</mat-icon>

  <h1>Icon Buttons</h1>
  <button mat-icon-button>
    <mat-icon color="primary">check_circle</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon color="accent">list</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon color="warn">close</mat-icon>
  </button>

  <h1>Icon FAB</h1>
  <button mat-fab color="primary">
    <mat-icon>check_circle</mat-icon>
  </button>
  <button mat-fab color="accent">
    <mat-icon>list</mat-icon>
  </button>
  <button mat-fab color="warn">
    <mat-icon>close</mat-icon>
  </button>

  <h1>Icon Mini FAB</h1>
  <button mat-mini-fab color="primary">
    <mat-icon>check_circle</mat-icon>
  </button>
  <button mat-mini-fab color="accent">
    <mat-icon>list</mat-icon>
  </button>
  <button mat-mini-fab color="warn">
    <mat-icon>close</mat-icon>
  </button>

</div>