/* To use this ViewEncapsulation cannot be disabled
:host{
  @apply bg-white border border-gray-400 rounded-lg overflow-hidden;
} */

/*:host{
  background-color:#fff;border-width:1px;border-color:#cbd5e0;border-radius:.5rem;overflow:hidden;
}*/